[submodule "Hyakunousha-International-Limited.github.io"]
	path = Hyakunousha-International-Limited.github.io
	url = https://github.com/Hyakunousha-International-Limited/Hyakunousha-International-Limited.github.io.git
	branch = main
